@font-face {
  font-family: "Action Man";
  src: url("/fonts/Action-Man/Action-Man.woff2") format("woff2"),
    url("/fonts/Action-Man/Action_Man_Extended-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Action Man";
  src: url("/fonts/Action-Man/Action-Man-Bold.woff2") format("woff2"),
    url("/fonts/Action-Man/Action_Man_Extended_Bold-webfont.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
  overflow: hidden;
  font-weight: bold;
}

:root {
  font-family: "Action Man", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: bold;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
